
  {% extends "./navbar.html" %}
  {% block content %}
     

          <!-- CSS -->
        
          <div class="header__wrapper">
            <header>
           
          {% if ecover %}
             <img class="card-img-top" src="{{ ecover.url }}" alt="Card image cap">
          {% else %}
              <img class="card-img-top" src="/static/cp.jpg" alt="Card image cap">
          {% endif %}
          
            </header>
            <div class="cols__container">
              <div class="left__col">
                <div class="img__container">
                {% if epic %}
                  <img src="{{ epic.url }}" alt="Anna Smith" />
                {% else %}
                  <img src="/static/pink.png" alt="Anna Smith" />
                {% endif %}
                  
                  <span></span>
                </div>
                <div class="form-popup" id="myForm">
              
                </div>
                <h2>{{name}}</h2>
                <p>{{entrepreneurid}}</p>
                <p>{{startup}}</p>
      
                <ul class="about">
                 
                  
                  <li><span>{{num}}</span>posts</li>
                </ul>
                <div class="contact">
                    <h6>Contact info</h6>
                    <p>{{phoneno}}</p>
                    <p>{{email}}</p>
                </div>
               
                <div class="content">
              

        
        <!-- Facebook -->
<a class="btn btn-primary" style="background-color: #3b5998;" href={{facebook}} role="button"><i class="fab fa-facebook-f"></i></a>

<!-- Twitter -->
<a class="btn btn-primary" style="background-color: #55acee;" href={{twitter}} role="button"><i class="fab fa-twitter"></i></a>

<!-- Instagram -->
<a class="btn btn-primary" style="background-color: #ac2bac;" href={{instagram}} role="button"><i class="fab fa-instagram"></i></a>

<!-- Linkedin -->
<a class="btn btn-primary" style="background-color: #0082ca;" href={{linkedin}} role="button"><i class="fab fa-linkedin-in"></i></a>

                </div>
              </div>
              <div class="right__col">
                <nav>
                 <ul>
                  <button class="tablinks" onclick="opentab(event, 'Posts')" id="defaultOpen">Posts</button>
                 
                  <button class="tablinks" onclick="opentab(event, 'About')">About</button>
                  <button class="tablinks" onclick="opentab(event, 'Suggestions')">Suggestions</button>
                  </ul> 
                  <a href={{form}} class="button" style="background-color:#da6d87;color:black;width:48px;border-radius:2px;">Hiring</a> 
                <!--  <button>Follow</button> -->
                </nav>
      
                <div class="photos">
                 
                  <div id="Posts" class="tabcontent">
                   
                    
                    <div class="container text-center">
                      {% for p in post %}
                      
                      {% if p.userid == userid %}
                      
                      <div class="row">
                        <div class="col-6">
                        <img class="post-grid" src="{{p.photo.url}}" />
                        </div>
                      
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                  </div>
                  </div>
                 
  
                  <div id="About" class="tabcontent">
                    <h3>{{about}}</h3>
                    
                  </div>

                  <div id="Suggestions" class="tabcontent">
                    <h3>Suggestions</h3>
                    {% for p in box %}
                    {% if p.to == userid %}
                    <div class="row border border-danger rounded">
                    <div class="col-5">
                     <i> Suggested by</i>: {{p.by}}<br>
                      {{p.date}}
                    </div>
                    <div class="col-7">
                      {{p.opinion}}
                    </div>
                  </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          
        </body>
     


      <link rel="stylesheet" href="/static/startup.css" />
    <script src="/static/startup.js"></script>


    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    
    <link rel="stylesheet" href="/static/startup.css" />
    <script src="/static/startup.js"></script>
    {% endblock %}